@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}


:root {
  font-family: 'Roboto', sans-serif;
  color: #F25278;
  background-color: #FDFCFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
  text-align: left;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  max-width: 1280px;
  border-right: solid 2px;
  border-left: solid 2px;
  padding: none;
  height: 100%;
  margin: none;
  background: #FFFFFF
}

@media screen and (max-width: 1200px) {
    body {
        max-width: 100%;
        border: 0;
    }
}

h1 {
  font-weight: 500;
  width: 100px;
  font-size: 50px;
  margin: 0;
  padding: 0;
  text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

h1:hover {
   text-decoration-color: #F25278;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}
